body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

.container {
    display: flex;
    margin-top: 80px;

}

.color {
    color: rgba(157, 39, 39, 0.693);
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.padding-bottom {
    padding-bottom: 20px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 15px 30px;
    color: black;
    border-radius: 20px;
    font-weight: 700;

}

.mid-banner {
    background-image: url(images/shapes/7.png);
}

.padding {
    padding-top: 50px;
}

.p {
    padding-bottom: 100px;
}

#mid-banner-img {
    width: 50%;
    padding-top: 50px;
    padding-left: 100px;
}

.text {
    text-align: center;

}

.text p {
    padding-left: 300px;
    padding-right: 300px;
}